body {
  background: #eee;
  color: #666666; }

.map-container {
	position: relative;
	width: 70%;
	height: 250px;
	margin: 0 auto;
	padding: 0;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; }

.input-group{
  margin-left: 14%;
  margin-right: 14%;
}

.container{
  position: inherit;
	padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}